<!DOCTYPE html>
<html ng:app="jogApp" lang="en">
<head>
    <title ng:bind="title">Web Panel</title>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/content/bootstrap.css" rel="stylesheet"/>
    <link href="~/content/bootstrap-theme.css" rel="stylesheet"/>
    <link href="~/App/app.css" rel="stylesheet" />
    <link href="~/App/account/account.css" rel="stylesheet"/>
</head>

<body ng-controller="AppCtrl">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                         data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-click="getWorkouts()">Get data</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#/workouts">Workouts</a></li>
                    <li><a href="#/report">Report</a></li>
                    <li><a href="#/account">Account</a></li>
                </ul>
            </div>
        </div>
    </div>

<div class="container">
    <p class="bg-danger" ng-show="showError()">{{ model.error }}</p>
    <ng-view/>
</div>
    <script src="~/scripts/angular.js"></script>
    <script src="~/Scripts/angular-strap.min.js"></script>
    <script src="~/Scripts/angular-strap.tpl.min.js"></script>
    <script src="~/scripts/angular-route.js"></script>
    <script src="~/scripts/angular-resource.js"></script>
    <script src="~/scripts/angular-storage.js"></script>
    <script src="~/scripts/angular-jwt.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script src="~/App/app.js"></script>
    <script src="~/App/filters.js"></script>
    <script src="~/App/account/account.js"></script>
    <script src="~/App/workouts/workoutListController.js"></script>
    <script src="~/App/report/reportController.js"></script>
</body>
</html>
